<div class="main-box">
    <h1>Esqueci minha senha</h1>
    <form action="/esqueci-minha-senha" method="POST">
        <label for="email">Email: </label>
        <input class="form-control" type="text" name="email">
        <button type="submit">Enviar email para troca de senha</button>
    </form>
</div> 