<div class="main-box">
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="username">Nome de usuário: </label>
        <input type="text" name="username">
        <label for="password">Senha: </label>
        <input type="password" name="password">
        <button type="submit">Login</button>
        <a class="nav-item nav-link" href="/esqueci-minha-senha">Esqueci minha senha</a>
    </form>
</div> 