<div class="main-box">
    <h1>Nova senha</h1>
    <form action="/trocar-senha/{{id}}" method="POST">
        <label for="password">Nova senha: </label>
        <input type="password" name="password">
        <button type="submit">Trocar senha</button>
    </form>
</div> 