<div class="signup-main-box">
    <div class="signup-box">
        <h1>Sign Up</h1>
        <form action="/signup" method="POST" enctype="multipart/form-data">
            <div>
                <label for="username">Username: </label>
                <input type="text" name="username" required>
            </div>
            <div>
                <label for="email">Email: </label>
                <input type="email" name="email" required>
            </div>
            <div>
                <label for="password">Password: </label>
                <input type="password" name="password" required>
            </div>
            <div class="file-upload">
                <label for="imgPath">Foto de perfil: </label>
                <input type="file" name="imgPath">
            </div>
            <div>
                <button class="btn btn-secondary login-btn" type="submit">Sign Up</button>
            </div>
            {{#if message}}
            <div>{{message}}</div>
            {{/if}}
        </form>

    </div>

</div>