
    <div class="home-main-box">
    </div>
    <div class="title-box">
        <h1 class="title">
            QUARENTENE-SE!
        </h1>
    </div>

    <div class="about-us">
        <div class="about-us-items">
            <h2 class="about-us-title">Sobre nós</h2>
            <p>
                A Quarentene-se é um portal para ajudar as pessoas nesse tempo de quarentena.
                Juntamos nele áreas que gostamos e têm nos mantido entretidos durante esse período.
                Todas as dicas postadas podem ser vistas por todos.
            </p>
        </div>

        <div class="about-us-items">
            <h3 class="about-us-title">O que você encontra aqui?</h3>
        </div>
        <div class="about-us-items">
            <h2 class="about-us-title">Séries</h2>
            <p>Área destinada a series/filmes em que todos podem comentar e dar seu review do título.</p>
        </div>
        <div class="about-us-items">
            <h2 class="about-us-title">Lives</h2>
            <p>Aqui você fica por dentro de todas as lives que vão rolar para alegrar ou fazer bater aquela saudade do(a) ex.</p>
        </div>
        <div class="about-us-items">
            <h2 class="about-us-title">Receitas</h2>
            <p>Nessa área você conta com diversas receitas que podem ser filtradas por dificuldade ou tempo, dependendo do momento do dia.</p>
        </div>

    </div>

