{{!-- <div> --}}
    <div class="main-box">
    <img class="bg-img" src="../public/images/home9_Sem_Fundo.png" alt="">
    </div>
    <h1 id="title">
        QUARENTENE-SE!
    </h1>

{{!-- </div> --}}

