<div class="main-box">
    <img src="{{user.imgPath}}" alt="Foto de Perfil">
    <h1>{{user.username}}</h1>
    <h2>{{user.email}}</h2>
    <p>{{user.status}}</p>
    {{#if admin}}
    <a href="/admin">Ver postagens pendentes</a>
    {{/if}}
</div>