/* 
CORES
amarelo
rgb(253,212,149)
azul
rgb(104,173,219) 
rosa
rgb(253,160,147)
tomate
rgb(237,86,75)
verde
rgb(106,210,183)
cinza
rgb(117,117,117)

*/

.home-main-box {
  background-image: url("../images/home.png");
  background-color: rgb(253, 97, 76);
  background-size: cover;
  background-position: 50% 35%;
  background-repeat: no-repeat;

  opacity: 0.6;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  padding-left: 3%;
  padding-right: 3%;
}
.title-box {
  height: 100vh;
}

.title {
  color: white;
  font-size: 8vw;
  font-family: "Cuprum", sans-serif;
  text-shadow: 5px 5px 4px rgb(117, 117, 117);
  position: relative;
  top: 9vh;
  text-align: center;
  z-index: 1000;
}
/* ----------------------------------------------------- ABOUT US ----------------------------------------------------- */

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.about-us-items {
  width: 50%;
  margin: 3% 0;
  border-radius: 3px;
  text-align: center;
}

.about-us-title {
  color: white;
  font-size: 5vw;
  font-family: 'Cuprum', sans-serif;
  text-shadow: 3px 3px 4px rgb(117, 117, 117);
  text-align: center;
}

.about-us-items>p {
  font-size: 2vw;

}

/* ----------------------------------------------------- LOGIN ----------------------------------------------------- */

.login-main-box {
  background-image: url("../images/home.png");
  background-color: rgb(253, 97, 76);
  background-size: cover;
  background-position: 50% 35%;
  background-repeat: no-repeat;

  opacity: 0.6;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.login-box {
  margin: 14% 4vw 0 4vw;
  border-radius: 5px;
  background-color: rgba(248, 249, 250, 0.8);
  width: 400px;
  padding: 1%;
  border: 5px solid rgb(106, 210, 183);
  box-shadow: 3px 3px rgba(117, 117, 117, 0.5);
}

.login-box h1 {
  color: rgb(85, 84, 84);
}

.login-box label {
  color: rgb(85, 84, 84);
  font-size: 1.3rem;
}
.login-box p {
  color: rgb(85, 84, 84);
  font-size: 1rem;
  margin: 3% 0;
}

.login-box label {
  width: 70%;
  margin-top: 3%;
}

.login-box input {
  width: 70%;
}

.login-btn {
  width: 30%;
  margin: 3% 0;
}

#forgot-password {
  color: black;
  text-decoration: underline;
}

.login-title {
  color: white;
  font-size: 8vw;
  font-family: "Cuprum", sans-serif;
  text-shadow: 5px 5px 4px rgb(117, 117, 117);
  position: relative;
  top: 9vh;
  text-align: center;
  opacity: 0.6;
}

/* ----------------------------------------------------- SIGNUP ----------------------------------------------------- */

.signup-main-box {
  background-image: url("../images/home.png");
  background-color: rgb(253, 97, 76);
  background-size: cover;
  background-position: 50% 35%;
  background-repeat: no-repeat;

  opacity: 0.6;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.signup-box {
  margin: 14% 4vw 0 4vw;
  border-radius: 5px;
  background-color: rgba(248, 249, 250, 0.8);
  width: 400px;
  padding: 1%;
  border: 5px solid rgb(104, 173, 219);
  box-shadow: 3px 3px rgba(117, 117, 117, 0.5);
  /* margin-top: 15%; */
}

.signup-box h1 {
  color: rgb(85, 84, 84);
}

.signup-box label {
  color: rgb(85, 84, 84);
  font-size: 1.3rem;
}

.signup-box label {
  width: 70%;
  margin-top: 2%;
}

.signup-box input {
  width: 70%;
}

.signup-btn {
  width: 30%;
  margin: 3% 0;
}

.file-upload > input {
  width: 100%;
}

.signup-title {
  color: white;
  font-size: 8vw;
  font-family: "Cuprum", sans-serif;
  text-shadow: 5px 5px 4px rgb(117, 117, 117);
  position: relative;
  top: 9vh;
  text-align: center;
  opacity: 0.6;
}

.error-message {
  background: #99d3c1;
  box-sizing: border-box;
  color: black;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}
