.profile-name {
    color: black;
}

.profile-main-box {
    background-image: url('../images/home9.png');
    background-color: rgb(253,97,76);
    background-size: cover;
    background-position: 50% 35%;
    background-repeat: no-repeat;
    
    opacity: 0.6;
    /* height: 100%; */
    width: 100%;
    position: absolute;
    display: flex;  
    align-items: center;
    justify-content: center;
}

.profile-box {
    margin: 5vh 3vw 5vh 0;
    border-radius: 5px;
    background-color: rgba(248,249,250,0.8);
    width: 450px;
    padding: 1%;
    border: 5px solid rgb(106,210,183);
    box-shadow: 3px 3px rgba(117, 117, 117,0.5);
}

.profile-box h1,h4 {
    color: black;
}

