* {
    padding: 0;
    margin: 0;
    color: rgb(117,117,117);
}

body {
    font-family: 'Cuprum', sans-serif;
    letter-spacing: .08rem;
    background-color: rgba(253,160,147,0.4);
    overflow-x: hidden;

}

.main-box {
    margin: 10vh 3vw;
    width: 100vw;
}

.main-box p {
    width: 93vw;
}

/* ---------------------------------------- SEARCH-BOX and LIST PAGE ---------------------------------------- */

.search-box {
    width: 94vw;
    border-radius: 5px;
    padding: 1%;
    display: flex;
    background-color: rgb(253,160,147);
    border: 5px solid rgb(253,212,149);
}

.page-title {
    color: white;
    font-size: 10vh;
    font-family: 'Cuprum', sans-serif;
    text-shadow: 3px 3px 4px rgb(117, 117, 117);
    top: 9vh;
    text-align: center;
    width: 96vw;
}

.search-form-left {
    width: 90vw;
}

.search-by-name {
    width: 100%;
    padding: 0 1%;
}
.search-by-name>label {
    color: white;
    font-size: 2rem;
}
.search-by-date {
    width: 100%;
    padding: 1%;
}
.search-by-select {
    width: 100%;
    padding: 1%;
}

.search-by-date>label {
    color: white;
}
.search-checkbox>label{
    font-size: 1rem;
    color: white;
    margin-left: 2%;
}

.name-input {
    width: 90%;
}

.search-btn {
    padding: 1% 1%;
}

.search-form-right {
    width: 20vw;
    font-size: 2rem;
    color: white;
    padding: 1%;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.search-form-right>p {
    color: white;
    width: 100%;
    font-size: 1.3rem;
    margin-bottom: 0;
}

.add-btn {
    padding: 2% 1%;
}

.card-list {
    padding: 0.5%;
    width: 96vw;
}
.card-item {
    border: 5px solid rgb(253,212,149); 
}

/* ---------------------------------------- DETAILS PAGE ---------------------------------------- */

.upper-box {
    display: flex;
    align-items: center;
    width: 92vw;
}
.info-box {
    width: 50vw;
    height: 40vh;
    margin-left: 2%;
}
.info-box>p{
    width: 50vw;
}
.details-img {
    margin: 4% 0;
    max-height: 60vh;
    border-radius: 5px;

}
.prepare {
    background-color: rgb(117,117,117);
    border-radius: 5px;
    color: white;
    margin-left: -1%;
    padding: 1% 1%;
    width: 94vw;
}

.details-btn-box {
    padding: 1.5% 1%;
    background-color: rgb(253,160,147);
    border-radius: 5px;
    width: 94vw;
    margin-left: -1%;
}

.details-btn {
    font-weight: bolder;
    font-size: large;
}

.reviews {
    padding-top: 2%;
    width: 93vw;
}
.reviews>h4{
    color: rgb(117,117,117);
    
}

.reviews input {
    width: 40vw;
}

.review-btn {
    padding: 2% 0 ;
}

/* ---------------------------------------- ADD PAGE ---------------------------------------- */

.add-form {
    width: 94vw;
    display: flex;
    justify-content: space-between;
    display: flex;
}
.add-form-items label {
    font-size: large;
    margin-top: 1.5%;
}
.add-form-items input, select {
    width: 30vw;
}
.add-form-prepare{
    width: 60vw;
}
.add-form-checkbox{
    width: 60vw;
    display: flex;
    flex-direction: column;
}
.add-form-checkbox-title{
    width: 100%;
    padding: 1%;
}

.add-form-checkbox-items-container{
    padding: 1%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.add-form-checkbox-items{
    width: 30%;
}
.add-btn-box {
    margin-top: 2%;
    padding: 1.5% 1%;
    background-color: rgb(253,160,147);
    border-radius: 5px;
    width: 96vw;
    margin-left: -1%;
    display: flex;
    justify-content: space-between;
}

/* ---------------------------------------- EDIT PAGE ----------------------------------------*/

.edit-form {
    width: 94vw;
    display: flex;
    justify-content: space-between;
    
}
.edit-form-items label {
    font-size: large;
    margin-top: 1.5%;
}
.edit-form-items input, select {
    width: 30vw;
}
