* {
    padding: 0;
    margin: 0;
    color: rgb(117,117,117);
}

body {
    font-family: 'Cuprum', sans-serif;
    letter-spacing: .08rem;
    background-color: rgba(253,160,147,0.4);

}

.main-box {
    margin: 10vh 3vw;
    width: 100vw;
}

.main-box p {
    width: 93vw;
}

/* ---------------------------------------- LIST PAGE ---------------------------------------- */


.recipe-search-box {
    width: 94vw;
    border-radius: 5px;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(253,160,147);
    border: 5px solid rgb(253,212,149);
}

.recipes-title {
    color: white;
    font-size: 10vh;
    font-family: 'Cuprum', sans-serif;
    text-shadow: 3px 3px 4px rgb(117, 117, 117);
    /* position: relative; */
    top: 9vh;
    text-align: center;
}

.search-by {
    width: 45vw;
    padding: 1%;
}

.search-by select {
    width: 100%;
    height: 4vh;
}

.search-by label {
    font-size: 2rem;
    color: white;
    font-weight: bolder;
}

.name-input {
    width: 100%;
}

.search-btn {
    padding: 2% 1%;
}

.add-your-recipe {
    width: 40vw;
    font-size: 2rem;
    color: white;
    padding: 1%;
    font-weight: bolder;
}

.add-your-recipe p {
    color: white;
    width: 100%;
}

.add-btn {
    padding: 2% 1%;
    border: 3px solid;
}

.card-list {
    padding: 0.5%;
    width: 96vw;
}
.card-item {
    border: 5px solid rgb(253,212,149);
}

/* ---------------------------------------- DETAILS PAGE ---------------------------------------- */

.details-img {
    max-height: 20vw;
    border-radius: 5px;
    padding-bottom: 2%;
}
.prepare {
    background-color: rgb(117,117,117);
    border-radius: 5px;
    color: white;
    margin-left: -1%;
    padding: 1% 1%;
    width: 94vw;
}

.details-btn-box {
    padding: 1.5% 1%;
    background-color: rgb(253,160,147);
    border-radius: 5px;
    width: 94vw;
    margin-left: -1%;
}

.details-btn {
    font-weight: bolder;
    font-size: large;
}

.reviews {
    padding-top: 2%;
    width: 93vw;
}

.reviews input {
    width: 40vw;
}

.review-btn {
    padding: 2% 0 ;
}

/* ---------------------------------------- ADD PAGE ---------------------------------------- */

.add-form {
    width: 94vw;
    display: flex;
    justify-content: space-between;
    display: flex;
}
.add-form-items label {
    font-size: large;
    margin-top: 1.5%;
}
.add-form-items input, select {
    width: 30vw;
}
.add-form-prepare{
    width: 60vw;
}
.add-btn-box {
    margin-top: 2%;
    padding: 1.5% 1%;
    background-color: rgb(253,160,147);
    border-radius: 5px;
    width: 96vw;
    margin-left: -1%;
    display: flex;
    justify-content: space-between;
}

/* ---------------------------------------- EDIT PAGE ----------------------------------------*/

.edit-form {
    width: 94vw;
    display: flex;
    justify-content: space-between;
    
}
.edit-form-items label {
    font-size: large;
    margin-top: 1.5%;
}
.edit-form-items input, select {
    width: 30vw;
}
