.profile-name {
    color: black;
}

.profile-pic {
    width: 58vh;
    height: 58vh;
}

.profile-main-box {
    background-image: url('../images/home9.png');
    background-color: rgb(253,97,76);
    background-size: cover;
    background-position: 50% 35%;
    background-repeat: no-repeat;
    
    opacity: 0.6;
    /* height: 100%; */
    width: 100%;
    position: absolute;
    display: flex;  
    align-items: center;
    justify-content: center;
}

.profile-box {
    margin: 5vh 3vw 5vh 0;
    border-radius: 5px;
    background-color: rgba(248,249,250,0.8);
    width: 450px;
    padding: 1%;
    border: 5px solid rgb(106,210,183);
    box-shadow: 3px 3px rgba(117, 117, 117,0.5);
}

.profile-box h1,h4 {
    color: black;
}

/* ---------------------------------------- SERIES PAGE ---------------------------------------- */

.serie-search-box {
    width: 94vw;
    border-radius: 5px;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(253,160,147);
    border: 5px solid rgb(253,212,149);
}

.series-title {
    color: white;
    font-size: 10vh;
    font-family: 'Cuprum', sans-serif;
    text-shadow: 3px 3px 4px rgb(117, 117, 117);
    /* position: relative; */
    top: 9vh;
    text-align: center;
}

.add-your-serie {
    width: 40vw;
    font-size: 2rem;
    color: white;
    padding: 1%;
    font-weight: bolder;
}

.add-your-serie p {
    color: white;
    width: 100%;
}