
    <div class="add-message">
        <h4>Sua Live foi enviada com sucesso.</h4>
        <h4>Publicação pendente, aguardando a verificação dos administradores!</h4>
        <a class="btn btn-secondary" href="/lives">Entendi!</a>
    </div>

