<div class="main-box">

    <h1>Adicione uma receita</h1>
    <form action="/add-receita" method="POST" enctype="multipart/form-data">
        <div>
            <label for="name">Nome: </label>
            <input type="text" name="name">
        </div>
        
        <div>
            <label for="category">Categoria: </label>
            <select name="category">
                <option value="Salgado">Salgado</option>
                <option value="Doce">Doce</option>
                <option value="Bebida">Bebida</option>
            </select>
        </div>
        <div>
            <label for="level">Dificuldade: </label>
            <select name="level">
                <option value="Fácil">Fácil</option>
                <option value="Médio">Médio</option>
                <option value="Avançado">Avançado</option>
            </select>
        </div>
<br>
        <div>
            <div><label for="prepare">Modo de preparo: </label></div>
            {{!-- <textarea name="prepare" id="form-text-area" cols="70" rows="10"></textarea> --}}

            <textarea autocomplete="off" rows="4" cols="8" class="form-control" id="myTextArea" name="prepare" style="height:200px"></textarea>
        </div>
<br>
        <div>
            <label for="duration">Duração: </label>
            <select name="duration">
                <option value="10min - 30min">10min - 30min</option>
                <option value="30min - 60min">30min - 60min</option>
                <option value="mais de 60min">mais de 60min</option>
            </select>
        </div>

        <div>
            <label for="imgPath">Imagem: </label>
            <input type="file" name="imgPath"> 
        </div>
<br>
        <div>
            <button type="submit">Adicionar receita</button>    
        </div>
<br>
        <div>
            <button> <a href="/receitas">Voltar</a></button>
        </div>

    </form>
</div>