<div class="main-box">

    <h1>Adicione uma receita</h1>
    <form action="/add-receita" method="POST" enctype="multipart/form-data">
        <label for="name">Nome: </label>
        <input type="text" name="name">
        <label for="category">Categoria: </label>
        <select name="category">
            <option value="Salgado">Salgado</option>
            <option value="Doce">Doce</option>
            <option value="Bebida">Bebida</option>

        </select>
        <label for="level">Dificuldade: </label>
        <select name="level">
            <option value="Fácil">Fácil</option>
            <option value="Médio">Médio</option>
            <option value="Avançado">Avançado</option>
        </select>
        <label for="prepare">Modo de preparo: </label>
        <input type="text" name="prepare">
        <label for="duration">Duração: </label>
        <select name="duration">
            <option value="10min - 30min">10min - 30min</option>
            <option value="30min - 60min">30min - 60min</option>
            <option value="mais de 60min">mais de 60min</option>
        </select>
        <button type="submit">Adicionar receita</button>
        <button><a href="/receitas">Voltar</a></button>

    </form>
</div>