
<div class="main-box">
    <h1>Adicione uma receita</h1>
    <form action="/add-receita" method="POST" enctype="multipart/form-data">
        <div class="add-form">
            <div>
                <div class="add-form-items">
                    <label for="name">Nome: </label>
                </div>
                <div class="add-form-items">
                    <input class="form-control" type="text" name="name">
                </div>
                <div class="add-form-items">
                    <label for="category">Categoria: </label>
                </div>
                <div class="add-form-items" style="width: 30vw;">
                    <select class="form-control" name="category">
                        <option value="Salgado">Salgado</option>
                        <option value="Doce">Doce</option>
                        <option value="Bebida">Bebida</option>
                    </select>
                </div>
                <div class="add-form-items">
                    <label for="level">Dificuldade: </label>
                </div>
                <div class="add-form-items" style="width: 30vw;">
                    <select class="form-control" name="level">
                        <option value="Fácil">Fácil</option>
                        <option value="Médio">Médio</option>
                        <option value="Avançado">Avançado</option>
                    </select>
                </div>
                <div class="add-form-items">
                    <label for="duration">Duração: </label>
                </div>
                <div class="add-form-items" style="width: 30vw;">
                    <select class="form-control" name="duration">
                        <option value="10min - 30min">10min - 30min</option>
                        <option value="30min - 60min">30min - 60min</option>
                        <option value="mais de 60min">mais de 60min</option>
                    </select>
                </div>
                <div class="add-form-items" style="width: 30vw;">
                    <label for="imgPath">Imagem: </label>
                    <input type="file" name="imgPath"> 
                </div>
                {{!-- <div class="add-form-items custom-file">
                    <label class="custom-file-label" for="imgPath">Imagem: </label>
                    <input class="custom-file-input" type="file" name="imgPath"> 
                </div> --}}
            </div>
            <div class="add-form-prepare">
                <div><label for="prepare">Modo de preparo: </label></div>
                <textarea autocomplete="off" rows="4" cols="8" class="form-control" id="myTextArea" name="prepare" style="height:45vh"></textarea>
            </div>
        </div>
        <div class="add-btn-box ">
            <button class="btn btn-outline-light btn-lg" style="min-width: 30vw;" type="submit">Adicionar receita</button>    
            <a class="btn btn-outline-light btn-lg" href="/receitas">Voltar</a>
        </div>
    </form>

</div>
